*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 10vh;
    background-color: #B6E388;
}
main{
    height: 90vh;
    background-color: #E1FFB1;
}
.flex{
    display: flex;

}
.width{
    width: 50%;
    text-align: center;
}
label{
    color:#749F82;
    font-size: 30px;
}
button{
    padding:10px 15px;
    border-radius: 15px;
    color:white;
    background-color: #B6E388;
    border-color:#B6E388; 
    font-size: 17px;
    font-weight: bolder;
}
.giu{
    padding-top: 200px;
    color:#749F82;
    font-size: 40px;
}
h3 p{
    color:black
}
.grande{
    font-size: 25px; 
}
input{
    width: 100px;
    height: 30px;
}
